{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h2>Buy Stock</h2>
    <hr>
    <form action="/buy" method="post">
        <div class="section">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Enter a stock's symbol" type="text">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Enter number of shares" type="text">
            <button class="btn btn-primary" type="submit">Buy</button>
        </div>
    </form>
    <hr>
{% endblock %}
